<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
<!-- 주문 상세 정보를 표시하는 모달 -->
	<div id="orderDetailModal" class="modal" th:fragment="orderlistModal">
	        <!-- X 닫기 버튼 -->
	        <span class="modal-close-x" onclick="closeModal()">&#x2716;</span>
	        <h4>주문 상품 조회</h4>
	        <p id="modalOrderId">주문번호: </p>
	        <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>상품코드</th>
	                    <th>상품이름</th>
	                    <th>주문수량</th>
	                </tr>
	            </thead>
	            <tbody id="orderProductDetails">
	                <!-- 주문 상품 정보가 이곳에 추가됩니다 -->
	            </tbody>
	        </table>
	</div>
</body>
</html>