<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick Koala :: 거래처</title> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection" />
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/assets/js/morris/morris-0.4.3.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/custom-styles.css}" />
    <link rel="stylesheet" th:href="@{/assets/js/Lightweight-Chart/cssCharts.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav th:replace="~{sales/header :: header}"></nav>
        <div th:replace="~{sales/dropdown :: dropdown}"></div>
        <div th:replace="~{sales/sidebar :: sidebar}" id="sidebar"></div>

        <div id="page-wrapper" style="background-color: #dcebdb">
            <div class="header"> 
                <h1 class="page-header">Home</h1>		
            </div>
			
            <!-- main views-->
            <div id="page-inner">
                <!-- 공지사항 출력 페이지 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-action">
                                공지사항
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th class="center" style="width: 5%;">NO</th>
                                                <th class="center" style="width: 65%;">제목</th>
                                                <th class="center" style="width: 10%;">작성자</th>
                                                <th class="center" style="width: 10%;">조회수</th>
                                                <th class="center" style="width: 10%;">작성일자</th>
                                            </tr>
                                        </thead>
                                        <tbody id="noticeTableBody">

                                        </tbody>
                                    </table>
										<!-- 페이징 UI -->
										<div class="pagination-wrapper">
										    <ul class="pagination">
										        <li th:if="${notices.hasPrevious()}" class="page-item">
										            <a href="#" class="page-link" th:onclick="'filterNotices(' + (${notices.number - 1}) + '); return false;'">&lt;</a>
										        </li>
										        <li th:each="i : ${#numbers.sequence(0, notices.totalPages - 1)}" class="page-item" th:classappend="${i == notices.number} ? 'active' : ''">
										            <a href="#" class="page-link" th:onclick="'filterNotices(' + (${i}) + '); return false;'" th:text="${i + 1}"></a>
										        </li>
										        <li th:if="${notices.hasNext()}" class="page-item">
										            <a href="#" class="page-link" th:onclick="'filterNotices(' + (${notices.number + 1}) + '); return false;'">&gt;</a>
										        </li>
										    </ul>
										</div>

                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="manager" value="">
                <input type="hidden" id="companyCode" value="">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-action">
                메모 캘린더
            </div>
            <div class="card-content">
                <div class="calendar-container">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

                <footer><p>Copyright 2024 ⓒ quickkoala.com by <i class="fa fa-love"></i><a href="https://quickkoala.kro.kr">Quick Koala All right reserved.</a></p></footer>
            </div>
        </div>
    </div>
    <!-- 공지사항 작성 버튼 -->
    <a href="./noticeWrite" class="floating-btn">
        <i class="fa fa-pencil"></i> 공지사항 작성
    </a>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
	<script th:src="@{/js/home.js}"></script>
    <script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/materialize/js/materialize.min.js}"></script>
    <script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{/assets/js/morris/morris.js}"></script>
    <script th:src="@{/assets/js/easypiechart.js}"></script>
    <script th:src="@{/assets/js/easypiechart-data.js}"></script>
    <script th:src="@{/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
    <script th:src="@{/assets/js/custom-scripts.js}"></script>
</body>

</html>
