  .search {
    display: flex;
    gap: 10px; /* Space between select and input */
  }

  .search select, .search input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    transition: border-color 0.3s ease;
  }

  .search select {
  	display: block;
    width: 120px;
    height: 40px;
    background-color: #f9f9f9;
  }

  .search input {
    width: 200px;
    height: 20px;
  }

  .search select:focus, .search input:focus {
    border-color: #000; 
    outline: none;
  }
  
  .search button {
  	height: 50px;
  }