@charset "UTF-8";
.modal {
    display: none; /* 기본적으로 숨겨진 상태 */
    position: fixed; /* 화면에 고정 */
    z-index: 1; /* 다른 요소보다 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 화면 너비 */
    height: 100%; /* 전체 화면 높이 */
    overflow: auto; /* 필요시 스크롤 */
    background-color: rgba(0,0,0,0.4); /* 투명도 있는 배경색 */
}

/* 모달 콘텐츠 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 상단에서 15% 아래에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* 너비 설정 */
}

/* 닫기 버튼 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}