.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 944.06px;
  height: 0px;
  position: absolute;
  left: 184px;
  top: 1025.06px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.div2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 148px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div3 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 227px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 306px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div5 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 385px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div6 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 641px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 720px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-5 {
  background: #e1f0fc;
  width: 138px;
  height: 197px;
  position: absolute;
  left: 19px;
  top: 428px;
  overflow: hidden;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div9 {
  color: #a6a6a6;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div10 {
  color: #a6a6a6;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 83px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div11 {
  color: #a6a6a6;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 24px;
  top: 122px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div12 {
  color: #a6a6a6;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 158px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div13 {
  color: #000000;
  text-align: left;
  font-family: "Risque-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: absolute;
  left: 263px;
  top: 154px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.54);
  border-width: 1px 0 0 0;
  width: 1092.01px;
  height: 0px;
  position: absolute;
  left: 268px;
  top: 290px;
}
.frame-9 {
  background: #27b9e2;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  width: 1440px;
  height: 81px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.quick-koala {
  color: #ffffff;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 36px;
  line-height: var(--body-large-line-height, 24px);
  letter-spacing: var(--body-large-tracking, 0.5px);
  font-weight: 400;
  position: absolute;
  left: 120px;
  top: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.free-icon-koala-424783-2-1 {
  width: 58px;
  height: 60px;
  position: absolute;
  left: 40px;
  top: 11px;
  object-fit: cover;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-7 {
  background: #ffffff;
  border-radius: 20px;
  width: 80px;
  height: 32px;
  position: absolute;
  left: 1320px;
  top: 25px;
}
.div14 {
  color: #424242;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: absolute;
  left: 1337px;
  top: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.div15 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: absolute;
  left: 1172px;
  top: 26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-6 {
  width: 108px;
  height: 0px;
  position: absolute;
  left: 1183px;
  top: 49px;
  overflow: visible;
}
._2024-08-30-16-26-33 {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 131px);
  top: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div16 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 319px;
  top: 243px;
}
.div17 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 495px;
  top: 243px;
}
.div18 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 630px;
  top: 243px;
}
.div19 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 907px;
  top: 243px;
}
.div20 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 243px;
}
.div21 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1169px;
  top: 243px;
}
.div22 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1301px;
  top: 243px;
}
._1234572 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 319px;
  top: 330px;
}
.div23 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 495px;
  top: 330px;
}
._5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 630px;
  top: 330px;
}
._35 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 907px;
  top: 330px;
}
._11-900 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 330px;
}
._416-500 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1169px;
  top: 330px;
}
.div24 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1301px;
  top: 330px;
}
._1234571 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 319px;
  top: 397px;
}
.div25 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 495px;
  top: 397px;
}
._3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 630px;
  top: 397px;
}
._25 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 907px;
  top: 397px;
}
._9-900 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 397px;
}
._247-500 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1169px;
  top: 397px;
}
.div26 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1301px;
  top: 397px;
}
._1234568 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 319px;
  top: 597px;
}
.div27 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 495px;
  top: 597px;
}
._250-g {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 630px;
  top: 597px;
}
._40 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 907px;
  top: 597px;
}
._13-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 597px;
}
._520-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1169px;
  top: 597px;
}
.div28 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1301px;
  top: 597px;
}
._1234567 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 319px;
  top: 664px;
}
.div29 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 495px;
  top: 664px;
}
._200-g {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 630px;
  top: 664px;
}
._30 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 907px;
  top: 664px;
}
._15-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 664px;
}
._450-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1169px;
  top: 664px;
}
.div30 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1301px;
  top: 664px;
}
._1234570 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 319px;
  top: 463px;
}
.div31 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 495px;
  top: 463px;
}
._32 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 630px;
  top: 463px;
}
._15 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 907px;
  top: 463px;
}
._9-9002 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 463px;
}
._148-500 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1169px;
  top: 463px;
}
.div32 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1301px;
  top: 463px;
}
._1234569 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 319px;
  top: 530px;
}
.div33 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 495px;
  top: 530px;
}
._322 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 630px;
  top: 530px;
}
._52 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 907px;
  top: 530px;
}
._250-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 530px;
}
._1-250-000 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1169px;
  top: 530px;
}
.div34 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  position: absolute;
  left: 1301px;
  top: 530px;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.rectangle-18 {
  background: #d9d9d9;
  width: 95px;
  height: 42px;
  position: absolute;
  left: 1254px;
  top: 909px;
}
.div35 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: absolute;
  left: 1264px;
  top: 920px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-9 {
  position: absolute;
  inset: 0;
}
.rectangle-182 {
  background: #d9d9d9;
  width: 138px;
  height: 42px;
  position: absolute;
  left: 247px;
  top: 897px;
}
.div36 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: absolute;
  left: 257px;
  top: 908px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
