<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{layout/stockHeader :: topheader}"></head>
<body class="bg-light">
    <div id="wrapper">
	<div th:insert="~{layout/stockHeader::top}"></div>
	<div th:insert="~{layout/stockHeader::sidemenu}"></div>
        <!-- nav  -->
      <div id="page-wrapper"  style="background-color:#F7FFF0;">
	  <div th:insert="~{layout/stockHeader :: header}"></div>
	  
	  <main class="maincss" >

<div class="product_insert">
    <ul>
        <li>창고명</li>
        <li>
            <select class="product_input1">
                <option value="W1">경기도 남양주 창고</option>
            </select><input type="button" value="+" title="+" class="product_btn2" onclick="showwarehouse()">
        </li>
    </ul>
    
    <div th:insert="~{warehouse/warehouseModal :: warehouselist}"></div>
    
    
    <ul>
        <li>로케이션 코드</li>
        <li>
            <select class="product_input1">
                <option value=""></option>
            </select><input type="button" value="+" title="+" class="product_btn2">
        </li>
    </ul>
    <ul>
        <li>제조사 코드</li>
        <li>
            <select class="product_input1">
                <option value=""></option>
            </select><input type="button" value="+" title="+" class="product_btn2">
        </li>
    </ul>
    <ul>
        <li>제조사명</li>
        <li>
        <input type="text" class="product_input1" readonly="readonly">
        </li>
    </ul>
     <ul>
        <li>상품코드</li>
        <li>
            <input type="text" class="product_input1"> 
            <input type="button" value="중복확인" title="중복확인" class="product_btn"> <span class="help_text">※ 상품코드는 절대 중복되지 않도록 합니다.</span>
        </li>
    </ul>
    <ul>
        <li>상품명</li>
        <li>
            <input type="text" class="product_input2" maxlength="100"> <span class="help_text">※ 상품명은 최대 100자까지만 적용할 수 있습니다.</span>
        </li>
    </ul>
    <ul>
        <li>단가</li>
        <li>
            <input type="text" class="product_input3" maxlength="7"> <span class="help_text">※ , 없이 숫자만 입력하세요 최대 7자리</span>
        </li>
    </ul>
    <ul>
        <li>사용 유/무</li>
        <li>
            <label><input type="radio" name="a" class="rdo" checked> 사용</label>
            <label><input type="radio" name="a" class="rdo"> 미사용</label>
        </li>
    </ul>
        <ul>
        <li>총 재고량</li>
        <li>
            <input type="text" class="product_input3"> <span class="help_text">※ 숫자만 입력하세요</span>
        </li>
    </ul>
    <ul>
        <li>예약된 재고</li>
        <li>
            <input type="text" class="product_input3">
        </li>
    </ul>
    <ul>
        <li>가용재고</li>
        <li>
            <input type="text" class="product_input3"> <span class="help_text">※ 숫자만 입력하세요.</span>
        </li>
    </ul>
    <ul>
        <li>대메뉴</li>
        <li>
            <select class="product_input1">
                <option></option>
            </select><input type="button" value="+" title="+" class="product_btn2"> <span class="help_text">※ 해당 카테고리가 없을 경우 신규 등록하시길 바랍니다.</span>
        </li>
    </ul>
    <ul>
        <li>소메뉴</li>
        <li>
            <select class="product_input1">
                <option></option>
            </select><input type="button" value="+" title="+" class="product_btn2">
        </li>
    </ul>
    <ul>
        <li>유통기한</li>
        <li>
            <input type="text" class="product_input3">
        </li>
    </ul>
    <ul>
        <li>입고날짜</li>
        <li>
            <input type="text" class="product_input3">
        </li>
    </ul>
</div>
<div class="subpage_view4" style="text-align:center; margin-bottom: 100px;">
    <input type="button" value="등록" title="상품 리스트" class="p_button p_button_color2" style="margin-right: 5px;">
    <input type="button" value="취소" title="상품 등록" class="p_button p_button_color1">
</div>


	   </main>
	   
	   
	   
	   <footer th:insert="~{layout/stockfooter :: footer}"></footer>
        </div>
    </div>
    
<div th:insert="~{layout/stockfooter :: src}"></div>
</body>
</html>