<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:replace="~{layout/stockHeader :: topheader}"></th:block>
<link th:href="@{/css/stock/stock.css}" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
        <nav th:replace="~{/main/header :: header}"></nav>
		<div th:insert="~{/sidebar::sidebar}"></div>
		<div id="page-wrapper">
			<div th:insert="~{layout/stockHeader :: header}"></div>

			<div id="page-inner">

        <div class="row">
            <div class="col-md-12">
            <input type="button" value="데일리 재고내역" class="product_btn3" id="dailyinventorybtn">
                <div class="card">
                    <div class="card-content">
                        <div class="table-responsive">
                        	<form id="inventorylist_form">
									<ul>
										<li><select class="product_input1 stocksearch" id="inventorylistSearchtype">
												<option value="1">상품코드</option>
												<option value="2">상품명</option>
												<option value="3">제조사 코드</option>
												<option value="4">로케이션 코드</option>
												<option value="5">카테고리 코드</option>
										</select> <input type="text" placeholder="검색어 입력" id="inventorylistSearch" class="stocksearchwidth"> 
											<button type="submit" id="inventorylistSearchbtn">검색</button></li>
									</ul>
									</form>
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
		                                <th class="center" style="width: 5%;">상품코드</th>
		                                <th class="center" style="width: 10%;">상품명</th>
		                                <th class="center" style="width: 6%;">제조사코드</th>
		                                <th class="center" style="width: 6%;">로케이션 코드</th>
		                                <th class="center" style="width: 6%;">카테고리 코드</th>
		                                <th class="center" style="width: 4%;">단가</th>
		                                <th class="center" style="width: 5%;">총 개수</th>
		                                <th class="center" style="width: 5%;">가용 개수</th>
		                                <th class="center" style="width: 6%;">불가용 개수</th>
		                                <th class="center" style="width: 6%;">안전 재고 개수</th>
		                                <th class="center" style="width: 4%;">사용유/무</th>
		                                <th class="center" style="width: 4%;">담당자</th>
		                                <th class="center" style="width: 5%;">메모</th>
		                                <th class="center" style="width: 3%;">관리</th>
                                    </tr>
                                </thead>
                                <tbody id="inventorylisttbody">
                                </tbody>
                            </table>
    						<nav class="no-bg" aria-label="Page navigation" id="inventorylistPaging">

							</nav>                        
                        </div> 
                    </div>
	   			</div>
	   		</div>
	   	</div>
	   </div>
	   
	   
	   
	   
	   <footer th:insert="~{layout/stockfooter :: footer}"></footer>
        </div>
    </div>
    
<div th:insert="~{layout/stockfooter :: src}"></div>
</body>
</html>