<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<th:block th:replace="~{layout/stockHeader :: topheader}"></th:block>
<link th:href="@{/css/stock/stock.css}" rel="stylesheet">
</head>
<body class="bg-light">
    <div id="wrapper">
	<div th:insert="~{/layout/stockHeader::top}"></div>
	<div th:insert="~{/sidebar::sidebar}"></div>
        <!-- nav  -->
      <div id="page-wrapper">
	  <div th:insert="~{layout/stockHeader :: header}"></div>
	  <main class="maincss" >

<div class="product_insert">
    <ul>
        <li>창고명</li>
        <li>
            <select class="product_input1" id="inventoryWarehouseoption">
                <option value=""></option>
            </select>
            <input type="button" value="+" title="+" class="product_btn2" id="warehousebtn">
        </li>
    </ul>
    
    <div th:insert="~{stock/warehouseModal :: warehouselist}"></div>
    
    
    <ul>
        <li>로케이션 코드</li>
        <li>
            <select class="product_input1" id="inventoryLocationoption">
                <option value=""></option>
            </select>
        </li>
    </ul>
    <ul>
        <li>제조사 코드</li>
        <li>
            <select class="product_input1" id="inventorySuppliercodeoption">
                <option value=""></option>
            </select>
        </li>
    </ul>
    <ul>
        <li>제조사명</li>
        <li>
        <input type="text" class="product_input1 black_font" readonly="readonly" id="inventorySuppliernameoption">
        </li>
    </ul>
     <ul>
        <li>상품코드</li>
        <li>
            <input type="text" class="product_input1" id="inventorycode" readonly="readonly"> 
        </li>
    </ul>
    <ul>
        <li>상품명</li>
        <li>
            <input type="text" class="product_input2" maxlength="100" id="inventoryname"> <span class="help_text">※ 상품명은 최대 100자까지만 적용할 수 있습니다.</span>
        </li>
    </ul>
    <ul>
        <li>단가</li>
        <li>
            <input type="text" class="product_input3" maxlength="7" id="inventoryprice"> <span class="help_text">※ , 없이 숫자만 입력하세요 최대 7자리</span>
        </li>
    </ul>
    <ul>
        <li>사용 유/무</li>
        <li>
            <label><input type="radio" name="inventoryuseflag" class="rdo" value="Y" checked> 사용</label>
            <label><input type="radio" name="inventoryuseflag" class="rdo" value="N"> 미사용</label>
        </li>
    </ul>
    <ul>
        <li>대메뉴</li>
        <li>
            <select class="product_input1" id="inventorymaincategoryoption">
                <option value=""></option>
            </select><input type="button" value="+" title="+" class="product_btn2 categorybtn"> <span class="help_text">※ 해당 카테고리가 없을 경우 신규 등록하시길 바랍니다.</span>
        </li>
    </ul>
    
    <div th:insert="~{stock/categoryModal :: categorylist}"></div>
    
    <ul>
        <li>소메뉴</li>
        <li>
            <select class="product_input1" id="inventorysubcategoryoption">
                <option value=""></option>
            </select><input type="button" value="+" title="+" class="product_btn2 categorybtn">
        </li>
    </ul>
    <ul>
        <li>메모</li>
        <li>
        <input type="text" class="product_input3" id="inventorymemo">
        </li>
    </ul>
</div>
<div class="subpage_view4" style="text-align:center; margin-bottom: 100px;">
    <input type="button" value="등록"  class="p_button p_button_color2" style="margin-right: 5px;" id="inventorysave">
    <input type="button" value="취소"  class="p_button p_button_color1" id="inventorycancle">
</div>


	   </main>
	   
	   
	   
	   <footer th:insert="~{layout/stockfooter :: footer}"></footer>
        </div>
    </div>
    
<div th:insert="~{layout/stockfooter :: src}"></div>
<script th:src="@{/js/stock/inventoryIn.js}"></script>
</body>
</html>