<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Quick Koala</title>
<link rel="stylesheet" th:href="@{/css/location.css}">
    <link href="../css/supplierOrderList.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../assets/materialize/css/materialize.min.css" media="screen,projection" />
    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/font-awesome.css" rel="stylesheet" />
    <link href="../assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="../assets/css/custom-styles.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../assets/js/Lightweight-Chart/cssCharts.css"> 
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" style="background-color: #F5F5F5" href="index.html"><img src="../img/only_logo.png" style="width: 45px; height:30px; display: ruby; margin-right: 18px; margin-left: 8px;"><strong style="color: black;">Quick Koala</strong></a>
				
		<div id="sideNav" href=""><i class="material-icons dp48" style="color: #1A4870">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 
				<!--
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>				
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
				-->
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>홍길동 관리자</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
		<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
<li><a href="#"><i class="fa fa-user fa-fw"></i>내정보 확인</a>
</li>
<li><a href="#"><i class="fa fa-gear fa-fw"></i>페이지 셋팅</a>
</li> 
<li><a href="#"><i class="fa fa-sign-out fa-fw"></i>로그아웃</a>
</li>
</ul>
	   <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="#" class="waves-effect waves-dark" style="color:white;"><img src="/img/icon/order_icon.png"> 납품등록<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li >
                                <a href="#"  style="color: #E2E2E2;">등록</a>
                            </li>
                        </ul>
                    </li>
                	<li>
                        <a href="#" class="waves-effect waves-dark" style="color:white;"><img src="/img/icon/order_icon.png"> 납품내역<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li >
                                <a href="#"  style="color: #E2E2E2;">내역</a>
                            </li>
                    	</ul>
                    </li>
					<li>
                        <a href="#" class="waves-effect waves-dark" style="color:white;"><img src="/img/icon/order_icon.png"> 반품내역<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="./purchaseOrder3"  style="color: #E2E2E2;">내역</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- nav  -->
      <div id="page-wrapper"  style="background-color:#F7FFF0;">
	  <div class="header"> 
            <h1 class="page-header">
               창고관리
                    </h1>
						<ol class="breadcrumb">
					  <li><a href="#" style="color: #1A4870;">Home</a></li>
					  
					  <li><a href="#">창고관리</a></li>
					  <li class="active">로케이션 현황</li>
					  
					</ol> 
									
		</div>
 <div id="page-inner">		
<div class="location_frame1">
    <div class="location_large_controller">
        <button class="rackbutton r1_button" onclick="r_button(this)">R1</button>
        <button class="rackbutton r2_button" onclick="r_button(this)">R2</button>
        <button class="rackbutton r3_button" onclick="r_button(this)">R3</button>
        <button class="rackbutton r4_button" onclick="r_button(this)">R4</button>
        <button class="rackbutton r5_button" onclick="r_button(this)">R5</button>
        <button class="rackbutton r6_button" onclick="r_button(this)">R6</button>
    </div>
    <div class="location_stocklist_box_frame">
        <select id="warehouse_select" onchange="change_warehouse()">
            <option value="W1">경기도 남양주 창고</option>
        </select>
        <div class="location_frame2">
        </div>
    </div>
    <div class="location_frame3" id="showbutton">
        <div class="location_1a">
            <button class="locationbutton" onclick="l_button(this)">1A</button>
        </div>
        <div class="location_2a">
            <button class="locationbutton" onclick="l_button(this)">2A</button>
        </div>
        <div class="location_2b">
            <button class="locationbutton" onclick="l_button(this)">2B</button>
        </div>
        <div class="location_3a">
            <button class="locationbutton" onclick="l_button(this)">3A</button>
        </div>
        <div class="location_3b">
            <button class="locationbutton" onclick="l_button(this)">3B</button>
        </div>
        <div class="location_3c">
            <button class="locationbutton" onclick="l_button(this)">3C</button>
        </div>
        <div class="location_4a">
            <button class="locationbutton" onclick="l_button(this)">4A</button>
        </div>
        <div class="location_4b">
            <button class="locationbutton" onclick="l_button(this)">4B</button>
        </div>
        <div class="location_4c">
            <button class="locationbutton" onclick="l_button(this)">4C</button>
        </div>
        <div class="location_4d">
            <button class="locationbutton" onclick="l_button(this)">4D</button>
        </div>
    </div>
        <!--공지사항 출력 페이지 -->
        <div class="location_table" id="tablebutton">
               <table>
               <thead>
               <tr>
               <th>제조사</th>
               <th>상품명</th>
               <th>수량</th>
               </tr>
               </thead>
               <tbody>
               </tbody>
               </table>
               </div>
</div>
           
                </div>
	   <footer><p>Copyright 2024 ⓒ quickkoala.com by <i class="fa fa-love"></i><a href="http://quickkoala.com">Quick Koala All right reserved.</a>
</p></footer>
        </div>
    </div>
    <script src="../assets/js/jquery-1.10.2.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/materialize/js/materialize.min.js"></script>
    <script src="../assets/js/jquery.metisMenu.js"></script>
    <script src="../assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../assets/js/morris/morris.js"></script>
	<script src="../assets/js/easypiechart.js"></script>
	<script src="../assets/js/easypiechart-data.js"></script>
	<script src="../assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <script src="../assets/js/custom-scripts.js"></script>
    <script src="../js/supplier/supplierOrderList.js"></script>
    <script th:src="@{/js/stock/location.js}"></script>
</body>
</html>