<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{layout/stockHeader :: topheader}"></head>
<body class="bg-light">
    <div id="wrapper">
	<div th:insert="~{/layout/stockHeader::top}"></div>
	<div th:insert="~{/sidebar::sidebar}"></div>
        <!-- nav  -->
      <div id="page-wrapper"  style="background-color:#F7FFF0;">
	  <div th:insert="~{layout/stockHeader :: header}"></div>
	  
	  <main class="maincss" >

<div class="product_insert">
    <ul>
        <li>창고명</li>
        <li>
            <select class="product_input1">
                <option value="W1">경기도 남양주 창고</option>
            </select><input type="button" value="+" title="+" class="product_btn2" id="warehousebtn">
        </li>
    </ul>
    
    <div th:insert="~{stock/warehouseModal :: warehouselist}"></div>
    
    
    <ul>
        <li>로케이션 코드</li>
        <li>
		<input type="text" class="product_input1" readonly="readonly"> *자동으로 입력됩니다.
        </li>
    </ul>
    <ul>
        <li>선반 열 코드</li>
        <li>
        <input type="text" class="product_input1">
        </li>
    </ul>
    <ul>
        <li>선반 행 코드</li>
        <li>
        <input type="text" class="product_input1">
        </li>
    </ul>
     <ul>
        <li>선반 단 코드</li>
        <li>
        <input type="text" class="product_input1">    
        </li>
    </ul>
    <ul>
        <li>사용 유/무</li>
        <li>
            <label><input type="radio" name="a" class="rdo" checked> 사용</label>
            <label><input type="radio" name="a" class="rdo"> 미사용</label>
        </li>
    </ul>
 
</div>
<div class="subpage_view4" style="text-align:center; margin-bottom: 100px;">
    <input type="button" value="등록" class="p_button p_button_color2" style="margin-right: 5px;">
    <input type="button" value="취소" class="p_button p_button_color1">
</div>


	   </main>
	   
	   
	   
	   <footer th:insert="~{layout/stockfooter :: footer}"></footer>
        </div>
    </div>
    
<div th:insert="~{layout/stockfooter :: src}"></div>
</body>
</html>