<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Quick Koala :: 로케이션 현황</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="../../assets/materialize/css/materialize.min.css"
	media="screen,projection" />
<link href="../../assets/css/bootstrap.css" rel="stylesheet" />
<link href="../../assets/css/font-awesome.css" rel="stylesheet" />
<link href="../../assets/js/morris/morris-0.4.3.min.css"
	rel="stylesheet" />
<link href="../../assets/css/custom-styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="../../assets/js/Lightweight-Chart/cssCharts.css">
<link href="../../css/paging.css" rel="stylesheet">
<link href="../../css/searching.css" rel="stylesheet">
<link th:href="@{/css/stock/stock.css}" rel="stylesheet">
</head>
<body>
    <div id="wrapper"> 
        <nav th:replace="~{/main/header :: header}"></nav>
        
        <div th:replace="~{/main/dropdown :: dropdown}"></div>
		<!--/. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation"
			th:replace="~{sidebar.html :: sidebar}"></nav>
		<!-- nav  -->
      <div id="page-wrapper">
	  <div class="header"> 
            <h1 class="page-header">
               창고 관리
               </h1>
		</div>
 <div id="page-inner">		
<div class="row">
				<div class="col-md-12">
                	<div class="card">
                	<div class="card-action">
                	로케이션 현황
                	</div>
<div class="location_frame1">
    <div class="location_large_controller">
    </div>
</div>

<div class="smallbox_table">
    <div class="location_frame3" id="showbutton">
    </div>
    
        <div class="location_table" id="showinventory">
               <table>
               <thead>
               <tr>
               <th>로트번호</th>
               <th>제조사</th>
               <th>상품명</th>
               <th>수량</th>
               <th>안전재고</th>
               </tr>
               </thead>
               <tbody>
               </tbody>
               </table>
               </div>
		</div></div>
    </div></div>  </div>     
<footer><p>Copyright 2024 ⓒ quickkoala.com by <i class="fa fa-love"></i><a href="http://quickkoala.com">Quick Koala All right reserved.</a>
</p></footer>
            </div>
        </div>
    <script src="../../assets/js/jquery-1.10.2.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../../assets/materialize/js/materialize.min.js"></script>
    <script src="../../assets/js/jquery.metisMenu.js"></script>
    <script src="../../assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="../../assets/js/morris/morris.js"></script>
	<script src="../../assets/js/easypiechart.js"></script>
	<script src="../../assets/js/easypiechart-data.js"></script>
	<script src="../../assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <script src="../../assets/js/custom-scripts.js"></script>
    <script th:src="@{/js/stock/locationStatus.js}"></script>
</body>
</html>