<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<div th:fragment="warehouselist">
<div id="overlay" class="modal-overlay"></div>
<div id="warehouselistmodal" class="modal modalwidth">
    <div>
        <span class="close closemodal">&times;</span>
    </div>
    <div class="row modalmarginleft"><br>
                    <div class="card-action">
			          <h2>창고 리스트</h2><br>
                    </div>
                    <ul>
        		<li>
            <select class="product_input1 stocksearch" id="warehouseSearchtype">
                <option value="1">창고 이름</option>
                <option value="2">창고 코드</option>
            </select>
            <input type="text" placeholder="검색어 입력" id="warehouseSearch" class="stocksearchwidth">
            <button type="submit" id="warehouseSearchbtn">검색</button>
        		</li>
    			</ul>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                     	<th class="center" style="width: 2%;"></th>
		                                <th class="center" style="width: 12%;">창고코드</th>
		                                <th class="center" style="width: 20%;">창고이름</th>
		                                <th class="center" style="width: 5%;">메모</th>
		                                <th class="center" style="width: 5%;">관리</th>
                                    </tr>
                                </thead>
                                <tbody id="warehousetbody">
                                	
                                </tbody>
                            </table>
					        </div>
                            <input class="cd-paging-right-btn" type="button" value="창고등록" id="warehousein">
                            <input class="cd-paging-right-btn" type="button" value="창고삭제" id="warehousedelete">
					        <nav class="no-bg" aria-label="Page navigation" id="warehousepaging">
							</nav>
					        </div>
</div>
<div id="warehouseinmodal" class="modal modalwidth"  th:fragment="warehouseInModalContent">
<div>
        <span class="close closemodal">&times;</span>
    </div>
<div class="product_insert row modalmarginleft"><br>
                    <div class="card-action">
			          <h2>창고 등록</h2><br>
                    </div>
    <ul>
        <li>창고 코드</li>
        <li>
        <input type="text" class="product_input3" id="warehouseCode" maxlength="2"> *등록되면 코드는 절대 수정할 수 없습니다.
        </li>
    </ul>
        <ul>
        <li>창고 이름</li>
        <li>
        <input type="text" class="product_input3" id="warehouseName" maxlength="200">*한글은 단어로 입력해 주세요.
        </li>
    </ul>
    <ul>
        <li>메모</li>
        <li>
        <input type="text" class="product_input3" id="warehouseMemo" maxlength="50">
        </li>
    </ul>
<div class="subpage_view4" style="text-align:center; margin-bottom: 100px;">
    <input type="button" value="등록"  class="p_button p_button_color2" style="margin-right: 5px;" id="warehouseregister">
    <input type="button" value="취소"  class="p_button p_button_color1" id="warehouseinback" >
</div>
</div>
</div>

<div id="warehousemodifymodal" class="modal modalwidth" >
	<div>
        <span class="close closemodal">&times;</span>
    </div>
<div class="product_insert row modalmarginleft"><br>
                    <div class="card-action">
			          <h2>창고 수정</h2><br>
                    </div>
    <ul>
        <li>창고 코드</li>
        <li>
        <input type="text" class="product_input3" id="warehouseMcode" readonly="readonly">
        </li>
    </ul>
        <ul>
        <li>창고 이름</li>
        <li>
        <input type="text" class="product_input3" id="warehouseMname" maxlength="200">
        </li>
    </ul>
    <ul>
        <li>메모</li>
        <li>
        <input type="text" class="product_input3" id="warehouseMmemo" maxlength="50">
        </li>
    </ul>
<div class="subpage_view4" style="text-align:center; margin-bottom: 100px;">
    <input type="button" value="수정"  class="p_button p_button_color2" style="margin-right: 5px;" id="warehouseModifybtn">
    <input type="button" value="취소"  class="p_button p_button_color1"  id="warehousemodifyback">
</div>
</div>
</div>

</div>
</html>