<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quick Koala</title>
<link rel="stylesheet" th:href="@{/css/table-page.css}">
</head>
<body>

    <!--/* <div th:replace="~{content :: contentFragment}"></div> */-->
    <!--/* <div th:replace="~{footer :: footerFragment}"></div> */-->

    
    <header th:replace="~{layout/header :: top}"></header>


      <section class="sidebar">
     <div class="sidebar-a">
        <span class="sa-logo" >
            <img th:src="@{/img/logo.png}" alt="코알라 로고" width="50px" height="50px">
        </span>
        <span class="sa-name">Quick Koala</span>
    </div>
        <ul class="sidebar-b">
            <li ><a href="#">공지사항</a></li>
            <li ><a href="#">사이트설정</a></li>
        </ul>
     <nav class="sidebar-c">
        <ul class="sc-menu">
            <li><a href="#">메뉴 1</a></li>
            <li><a href="#">메뉴 2</a></li>
            <li><a href="#">메뉴 3</a></li>
            <li><a href="#">메뉴 4</a></li>
            <li><a href="#">메뉴 5</a></li>
        </ul>
    </nav>
    </section>
    <section class="content">
            <span class="content-a">
                    <select class="ca-select">
                        <option>날짜</option>
                        <option>담당자</option>
                        <option>품목</option>
                        <option>제조사</option>
                    </select>
                    <input class="ca-text" type="text" value="" placeholder="검색어를 입력하세요">
                    <button class="ca-btn" type="button">찾기</button>
            </span>
            <main class="content-b">
                <ul class="cb-sheet">
                    <li>입고요청</li>
                    <li>입고대기</li>
                    <li>입고승인</li>
                    <li>입고취소</li>
                </ul>
                <div class="cb-table-frame">
                <form id="order_frm">
                <table class="cb-table">
                    <thead class="cb-table-thead">
                        <tr class="cb-table-thead-name">
                            <th><input type="checkbox"></th>
                            <th>요청날짜</th>
                            <th>주문번호</th>
                            <th>제조사</th>
                            <th>담당자</th>
                            <th>품목명</th>
                            <th>수량</th>
                            <th>단가</th>
                            <th>총 금액</th>
                            <th>처리상태</th>
                            <th>입고예정일</th>
                            <th>메모</th>
                        </tr>
                    </thead>
                    <tbody class="cb-table-tbody">
                        <tr class="cb-table-tbody-data">
                            <td><input type="checkbox"></td>
                            <td><input type="text" name="order_date"></td>
                            <td><input type="text" name="product_code"></td>
                            <td><input type="text" name="supplier_code"></td>
                            <td><input type="text" name="manager"></td>
                            <td><input type="text" name="quantity"></td>
                            <td><input type="text" name="price"></td>
                            <td><input type="text" name="total_price"></td>
                            <td><input type="text" name="order_date"></td>
                            <td><input type="text" name="expected_date"></td>
                            <td><input type="text" name="status"></td>
                            <td><input type="text" name="memo"></td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
        </main>
        <div class="content-c">
            <span class="cc-btn-frame">
	            <button class="cc-btn" type="button" >선택 삭제</button>
                <button class="cc-btn" type="button" >선택 ㄱㄱ</button>
                <button class="cc-btn" type="button" >선택 ㅇㅇ</button>
				<button class="cc-btn" type="button" >엑셀 불러오기</button>
            </span>
        </div>
        <span class="content-d">
            <div class="cd-paging-frame">
                <input class="cd-paging-left-btn" type="button">
                <span class="cd-paging-text">
                    <input class="cd-paging-text-a" type="text">
                    <input class="cd-paging-text-b" type="text" readonly>
                </span>
                
                <input class="cd-paging-right-btn" type="button" value="발주요청" id="purchase_request">

            </div>
        </span>
    </section>
	<footer class="footer">
	    <div>
	        Copyright ⓒ 2024 코알라 All rights reserved.
	    </div>
	</footer>
</body>
<script th:src="@{/js/purchaseOrder.js}"></script>
</html>