<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Quick Koala :: 발주요청</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="../assets/materialize/css/materialize.min.css"
	media="screen,projection" />
<link href="../assets/css/bootstrap.css" rel="stylesheet" />
<link href="../assets/css/font-awesome.css" rel="stylesheet" />
<link href="../assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<link href="../assets/css/custom-styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="../assets/js/Lightweight-Chart/cssCharts.css">
<link rel="stylesheet" href="../css/purchaseOrder.css">
</head>

<body>
	<div id="overlay" class="overlay"></div>
	<div id="wrapper">
		<nav class="navbar navbar-default top-navbar" role="navigation"
			th:replace="~{header.html :: header}"></nav>
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content"
			th:replace="~{dropdown1.html :: dropdown1}"></ul>
		<!--/. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation"
			th:replace="~{sidebar.html :: sidebar}"></nav>

		<!-- modal -->
		<div id="myModal" class="modal">
			<div class="modal-content">
				<span id="close-modal-btn" style="float: right; cursor: pointer;">&times;</span>
				<h2>상품목록</h2>
				<br>
				<table>
					<thead>
						<tr>
							<th>상품코드</th>
							<th>제조사</th>
							<th>상품명</th>
							<th>단가</th>
						</tr>
					</thead>
					<tbody>
						<tr class="modal-item" th:each="item : ${items}">
							<td th:data-code="${item.productCode}"
								th:text="${item.productCode}"></td>
							<td th:data-maf="${item.manufacturer}"
								th:text="${item.manufacturer}"></td>
							<td th:data-name="${item.productName}"
								th:text="${item.productName}"></td>
							<td th:data-price="${item.unitPrice}" th:text="${item.unitPrice}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="page-wrapper">
			<div class="header">
				<h1 class="page-header">입고관리</h1>
				<ol class="breadcrumb">
					<li><a href="#" style="color: #1A4870;">Home</a></li>
					<!--
					  <li><a href="#">페이지 tap1</a></li>
					  <li class="active">페이지 tap2</li>
					  -->
				</ol>

			</div>
			<!-- main views-->
			<div id="page-inner">
				<!--공지사항 출력 페이지 -->
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-action">
								발주요청 <span style="float: right;">+ MORE</span>
							</div>
							<div class="card-content">
								<div class="table-responsive">
									<button id="open-modal-btn">상품목록</button>
									<form id="order_frm">
										<table class="table table-striped table-bordered table-hover"
											id="dataTables-example">
											<thead>
												<tr>
													<th class="center" style="width: 15%;">상품코드</th>
													<th class="center" style="width: 15%;">제조사</th>
													<th class="center" style="width: 30%;">상품명</th>
													<th class="center" style="width: 10%;">수량</th>
													<th class="center" style="width: 15%;">단가</th>
													<th class="center" style="width: 15%;">총 금액</th>
												</tr>
											</thead>
											<tbody id="tbody">
												<tr class="odd gradeX">
													<td><input type="text" id="product_code"
														name="product_code" readonly></td>
													<td>
														<div style="position: relative;">
															<input type="text" id="supplier" name="supplier" readonly>
															<div id="autocomplete-results" class="autocomplete-items"></div>
														</div>
													</td>
													<td><input type="text" id="product" name="product"
														readonly></td>
													<td><input type="text" id="quantity" name="quantity"></td>
													<td><input type="text" id="unit_price" name="price"
														readonly></td>
													<td><input type="text" id="total_price"
														name="total_price" readonly></td>
												</tr>
											</tbody>
										</table>
									</form>
									<input class="cd-paging-right-btn" type="button" value="발주요청"
										id="purchase_request" style="float: right;">
									<form id="excel_frm">
										<input type="file" name="excel" id="excel">
										<button class="cc-btn" type="button" id="excel_btn">엑셀
											불러오기</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer>
					<p>
						Copyright 2024 ⓒ quickkoala.com by <i class="fa fa-love"></i><a
							href="http://quickkoala.com">Quick Koala All right reserved.</a>
					</p>
				</footer>
			</div>
		</div>
	</div>
	<script src="../assets/js/jquery-1.10.2.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/materialize/js/materialize.min.js"></script>
	<script src="../assets/js/jquery.metisMenu.js"></script>
	<script src="../assets/js/morris/raphael-2.1.0.min.js"></script>
	<script src="../assets/js/morris/morris.js"></script>
	<script src="../assets/js/easypiechart.js"></script>
	<script src="../assets/js/easypiechart-data.js"></script>
	<script src="../assets/js/Lightweight-Chart/jquery.chart.js"></script>
	<script src="../assets/js/custom-scripts.js"></script>
	<script src="../js/receive/purchaseOrder.js"></script>
</body>

</html>