<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Quick Koala :: 거래처</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="../../assets/materialize/css/materialize.min.css"
	media="screen,projection" />
<link href="../../assets/css/bootstrap.css" rel="stylesheet" />
<link href="../../assets/css/font-awesome.css" rel="stylesheet" />
<link href="../../assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<link href="../../assets/css/custom-styles.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="../../assets/js/Lightweight-Chart/cssCharts.css">
<link href="/css/client/supplierList.css" rel="stylesheet"/>
<link href="../../css/paging.css" rel="stylesheet" />
<link href="../../css/searching.css" rel="stylesheet" />
</head>

<body>
	<div id="wrapper">
        <nav th:replace="~{/main/header :: header}"></nav>
        
        <div th:replace="~{/main/dropdown :: dropdown}"></div>
		<!--/. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation"
			th:replace="~{sidebar.html :: sidebar}"></nav>
		<!-- nav  -->
		<div id="page-wrapper">
			<div class="header">
				<h1 class="page-header">고객관리</h1>
			</div>
			<!-- main views-->
			<div id="page-inner">
				<!--공지사항 출력 페이지 -->
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-action">거래처</div>
							<form id="search_form">
								<div class="search">
									<select id="search_code">
										<option value="거래처코드">거래처코드</option>
										<option value="거래처명">거래처명</option>
									</select> <input type="text" placeholder="검색어를 입력하세요"
										style="width: 200px; border: 1px;" id="search_word">
									<button type="submit" id="search_btn">검색</button>
								</div>
							</form>
							<div class="card-content">
								<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover"
											id="dataTables-example">
											<thead>
												<tr>
													<th class="center" style="width: 7%;">거래처코드</th>
													<th class="center" style="width: 15%;">거래처명</th>
													<th class="center" style="width: 20%;">이메일</th>
													<th class="center" style="width: 10%;">전화번호</th>
													<th class="center" style="width: 25%;">주소</th>
													<th class="center" style="width: 12%;">등록일</th>
													<th class="center" style="width: 5%;">관리</th>
												</tr>
											</thead>
											<tbody id="tbody">
												
											</tbody>
										</table>
										<nav class="no-bg" aria-label="Page navigation" id="paging">

									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>

				<footer>
					<p>
						Copyright 2024 ⓒ quickkoala.com by <i class="fa fa-love"></i><a
							href="http://quickkoala.com">Quick Koala All right reserved.</a>
					</p>
				</footer>
			</div>
		</div>
	</div>
	<script src="../../assets/js/jquery-1.10.2.js"></script>
	<script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../../assets/materialize/js/materialize.min.js"></script>
	<script src="../../assets/js/jquery.metisMenu.js"></script>
	<script src="../../assets/js/morris/raphael-2.1.0.min.js"></script>
	<script src="../../assets/js/morris/morris.js"></script>
	<script src="../../assets/js/easypiechart.js"></script>
	<script src="../../assets/js/easypiechart-data.js"></script>
	<script src="../../assets/js/Lightweight-Chart/jquery.chart.js"></script>
	<script src="../../assets/js/custom-scripts.js"></script>
	<script src="../../js/client/salesList.js"></script>	
</body>

</html>