<!DOCTYPE html>
<html>
<footer th:fragment="footer"><p>Copyright 2024 ⓒ quickkoala.com by <i class="fa fa-love"></i><a href="https://quickkoala.com">Quick Koala All right reserved.</a>
</p></footer>

<div th:fragment="src">
    <script src="/assets/js/jquery-1.10.2.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/materialize/js/materialize.min.js"></script>
    <script src="/assets/js/jquery.metisMenu.js"></script>
    <script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets/js/morris/morris.js"></script>
	<script src="/assets/js/easypiechart.js"></script>
	<script src="/assets/js/easypiechart-data.js"></script>
	<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>
    <script src="/assets/js/custom-scripts.js"></script>
    <script src="/js/supplier/supplierOrderList.js"></script>
    <script th:src="@{/js/stock/locationStatus.js}"></script>
    <script th:src="@{/js/stock/warehouseModal.js}"></script>
    <script th:src="@{/js/stock/locationModal.js}"></script>
    <script th:src="@{/js/stock/locationList.js}"></script>
    <script th:src="@{/js/stock/categoryModal.js}"></script>
    <script th:src="@{/js/stock/inventoryList.js}"></script>
</div>    
</html>