<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="topheader">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Quick Koala</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet"
	href="../../assets/materialize/css/materialize.min.css"
	media="screen,projection" />
<link href="../../assets/css/bootstrap.css" rel="stylesheet" />
<link href="../../assets/css/font-awesome.css" rel="stylesheet" />
<link href="../../assets/js/morris/morris-0.4.3.min.css"rel="stylesheet" />
<link href="../../assets/css/custom-styles.css" rel="stylesheet" />
<link href="../../css/purchaseOrderList.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet"
	href="../../assets/js/Lightweight-Chart/cssCharts.css">
<link href="../../css/paging.css" rel="stylesheet">
<link href="../../css/searching.css" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/stock/stock.css?v=1}">
    
<link href="/css/supplierOrderList.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    
    
</head>
<body>
<div th:fragment="top">
	  <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" style="background-color: #F5F5F5" href="../home"><img src="/img/only_logo.png" style="width: 45px; height:30px; display: ruby; margin-right: 18px; margin-left: 8px;"><strong style="color: black;">Quick Koala</strong></a>
				
		<div id="sideNav" href=""><i class="material-icons dp48" style="color: #1A4870">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 
				<!--
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>				
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
				-->
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b></b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
		<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
<li><a href="/api/logout"><i class="fa fa-sign-out fa-fw"></i>로그아웃</a>
</li>
</ul>
</div>

	  <div class="header" th:fragment="header"> 
            <h1 class="page-header">
               창고관리
                    </h1>
						<ol class="breadcrumb">
					  <li><a href="#" style="color: #1A4870;">Home</a></li>
					  
					  <li><a href="#">창고관리</a></li>
					  <li class="active">로케이션 현황</li>
					  
					</ol> 
									
		</div>
</body>
</html>