<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>공지사항 상세</title> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/assets/materialize/css/materialize.min.css}" media="screen,projection" />
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/font-awesome.css}" />
	<link rel="stylesheet" th:href="@{/assets/js/morris/morris-0.4.3.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/custom-styles.css}" />
	<link rel="stylesheet" th:href="@{/assets/js/Lightweight-Chart/cssCharts.css}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav th:replace="~{main/header :: header}"></nav>
        
        <div th:replace="~{main/dropdown :: dropdown}"></div>

        <div th:replace="~{main/sidebar :: sidebar}" id="sidebar"></div>

      <div id="page-wrapper">
		  	<div class="header"> 
	            <h1 class="page-header" th:text="${notice.title}">공지사항 제목</h1>		
			</div>
			
    <!-- main views-->
     <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <p><strong>작성자 : </strong> <span th:text="${notice.manager}"></span></p>
                        <p><strong>작성시간 : </strong> <span th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd HH:mm')}"></span></p>
                        <p><strong>조회수 : </strong> <span th:text="${notice.views}"></span></p><br>
                        <div>
                            <p th:utext="${notice.content}"></p>
                        </div>
                        <br>
                        <a href="/main/home" class="btn" style="background-color: #474B54">목록으로 돌아가기</a>
                        <button id="deleteButton" class="btn" style="background-color: #d9534f; float:right;" title="작성자 삭제가능" disabled>삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <input type="hidden" id="noticeManager" th:value="${notice.manager}">
	<input type="hidden" id="currentManager" value="">
	
   <footer><p>Copyright 2024 ⓒ quickkoala.com by <i class="fa fa-love"></i><a href="https://quickkoala.kro.kr">Quick Koala All right reserved.</a></p></footer>
            </div>
        </div>
    <script th:src="@{/js/noticeView.js}"></script>
    
	<script th:src="@{/assets/js/jquery-1.10.2.js}"></script>
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/materialize/js/materialize.min.js}"></script>
	<script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
	<script th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
	<script th:src="@{/assets/js/morris/morris.js}"></script>
	<script th:src="@{/assets/js/easypiechart.js}"></script>
	<script th:src="@{/assets/js/easypiechart-data.js}"></script>
	<script th:src="@{/assets/js/Lightweight-Chart/jquery.chart.js}"></script>
	<script th:src="@{/assets/js/custom-scripts.js}"></script>

</body>
</html>
