<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<nav class="navbar-default navbar-side" role="navigation" th:fragment="sidebar">
        	<div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a class="waves-effect waves-dark" style="color:white; padding-bottom: 20px;" href="./order"><img src="/img/icon/salesOrderIcon.png" style="margin-right: 10px; margin-left: 5px;"> 주문등록</a>
                    </li>
                    <li>
                    	<a class="waves-effect waves-dark" style="color:white; padding-bottom: 20px; padding-top: 30px;" href="./orderlist"><img src="/img/icon/salesOrderlistIcon.png" style="margin-right: 10px; margin-left: 5px;"> 주문완료</a>
                    </li>
                </ul>
            </div>
        </nav>
</body>

</html>