<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<div th:fragment="warehouselist">
	<div id="overlay" class="modal-overlay"></div>
	<div id="warehouselistmodal" class="modal">
		<div>
			<span class="close" id="closemodal">&times;</span>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-action">
						<h2>입고 확정</h2>
					</div>
					<div class="card-content">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover"
								id="dataTables-example">
								<thead>
									<tr>
										<th class="center" style="width: 30%;">품목명</th>
										<th class="center" style="width: 5%;">대기수량</th>
										<th class="center" style="width: 5%;">입고수량</th>
										<th class="center" style="width: 5%;">반품수량</th>
										<th class="center" style="width: 20%;">반품사유</th>
										<th class="center" style="width: 20%;">메모</th>
									</tr>
								</thead>
								<tbody id="tbody2">
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>