@charset "UTF-8";

@import url("./locationStatus.css");
@import url("./warehouseModal.css");

@import url("./main.css");
@import url("./product.css");

.black_font{
	color:rgba(0, 0, 0, 1) !important;
}
.stocksearch{
	display: inline-block !important;
}
.stocksearchwidth{
	width:200px !important;
}