@charset "UTF-8";

@import url("./locationStatus.css");
@import url("./warehouseModal.css");

@import url("./main.css");
@import url("./product.css");

.black_font{
	color:rgba(0, 0, 0, 1) !important;
}
.stocksearch{
	display: inline-block !important;
}
.stocksearchwidth{
	width:200px !important;
}
.stockmodal-scroll{
	max-height: 100%;  /* 모달 내용 부분의 최대 높이 */
    overflow-y: auto;   /* 내용이 넘치면 수직 스크롤을 생성 */	
    overflow-x: hidden;
}
.stockallleft{
	margin-left: 20px;
}
.stocksearchbtn{
	height:43px !important;
	width : 45px;
}
.product_btn1 {
	margin-top:10px;
	margin-left: 10px;
    height: 35px; /* 버튼 높이 설정 */
    width: 90px;
    cursor: pointer;
    padding: 0 5px; /* 버튼 내부 좌우 여백 설정 */
}