/* 오버레이 추가: 모달 뒤에 있는 배경을 어둡게 */
.modal-overlay {
    position: fixed;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5) !important;
    z-index: 1;
    display: none;
}
.checkbox{
	position: relative !important;
	transform: scale(1.5); /* 1.5배로 확대 */
}
.postit-content {
    background-color: yellow;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    height: 200px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
}
.modalmarginleft{
	margin-left : 10px !important;
	margin-right : 10px !important;
}
.modalwidth{
	width: 50% !important;
}