<!DOCTYPE html>
<html>

<div th:fragment="warehouselist">
<div id="overlay" class="modal-overlay"></div>
<div id="warehouselistmodal" class="modal">
    <div>
        <span class="close" id="closemodal">&times;</span>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-action">
			          <h2>창고 리스트</h2>
                    </div>
                    <div class="card-content">
                    <ul>
        		<li>
            <select class="product_input1">
                <option value="1">창고 이름</option>
                <option value="2">창고 검색</option>
            </select>
            <input type="text" placeholder="검색어 입력">
            <input type="button" value="검색">
        		</li>
    			</ul>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                     	<th class="center" style="width: 2%;"><input type="checkbox" class="checkbox"></th>
		                                <th class="center" style="width: 12%;">창고코드</th>
		                                <th class="center" style="width: 20%;">창고이름</th>
		                                <th class="center" style="width: 5%;">메모</th>
		                                <th class="center" style="width: 5%;">관리</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                	
                                </tbody>
                            </table>
					        </div>
                            <input class="cd-paging-right-btn" type="button" value="창고등록" id="warehousein">
                            <input class="cd-paging-right-btn" type="button" value="창고삭제" id="warehouseincancle">
					        </div>
					        </div>
					        </div>
					        </div>
</div>
<div id="warehouseinmodal" class="modal"  th:fragment="warehouseInModalContent">
<div class="product_insert">
    <ul>
        <li>창고 코드</li>
        <li>
        <input type="text" class="product_input1">
        </li>
    </ul>
        <ul>
        <li>창고 이름</li>
        <li>
        <input type="text" class="product_input1">
        </li>
    </ul>
</div>
<div class="subpage_view4" style="text-align:center; margin-bottom: 100px;">
    <input type="button" value="등록"  class="p_button p_button_color2" style="margin-right: 5px;">
    <input type="button" value="취소"  class="p_button p_button_color1" id="warehouseincancle">
</div>
</div>
</div>
</html>